# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Spyder Project File
**/.spyproject

# HTML versions of standard markdown files
README.html
Derived_Data/DATA_NOTES.html
Original_Data/DATA_SOURCES.html

# Directories to hide intermediate work products
**/drafts
**/sources

#  Left over R Notebook HTML files
*.nb.html

# Materials from FOCB that are not relevant here
/Original_Data/FOCB Graphics
/Original_Data/cms1data.zip